@import url(//db.onlinewebfonts.com/c/17539719b4e0eb2d54284f9ecce700e1?family=Amazing+Kids);
@import url('https://fonts.cdnfonts.com/css/satoshi');
@import url('https://fonts.cdnfonts.com/css/clash-display');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.logo{
font-family: "Amazing Kids", sans-serif;
}

.nav-list, .hero-text, .hero-btn, .hero-frame-text, .class-text, .class-btn, .class-types, .sectionefive-p{
font-family: 'Satoshi', sans-serif;                                              
}

.hero-heading ,.class-header{
  font-family:'Clash Display', sans-serif;
}

.btn-bg{
  background-color:rgba(30,93,206,0.2)
}